
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/* font-family: 'Commissioner', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap');
/* font-family: 'Georama', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
/* font-family: 'Gowun Dodum', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/* font-family: 'Quicksand', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
/* font-family: 'Gowun Batang', serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Georama', sans-serif;
    font-weight: 700;
    letter-spacing: 1.25px;
    background-repeat: no-repeat;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #0006bab8;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #002ea2;
}

.searchTerm:focus{
  color: #0006ae;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #0006a7c7;
  background: #00129bc7;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.max-width{
    max-width: 1300px;
    padding: 50px;
    margin: auto;
}
nav{
    margin-left: 10%;
}
nav .max-width{
    display: flex;
    justify-content: space-around;
}
nav .link-menu a{
    position: relative;
    display: inline-block;
    padding: 0 30px;
    color: white;
    letter-spacing: 0.5px;
    text-decoration: none;
}

body{
    background-image: url("./brg.jpg");
    background-size:cover;
    color: rgb(255, 255, 255);
}

.max-width .logo{
    z-index: 9;
}

.max-width .logo img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.max-width .link-menu{
    width: 800px;
    line-height: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.max-width .link-menu a{
    color: white;
    font-family: 'Georama', sans-serif;
    font-size: 22px;

    z-index: 4;
}

.home-menu{
    background-image: url("./brnd.jpg");
    height: 400px;
    background-size: cover;

    position: relative;
    z-index: 1;
}

/* .max-width .tittle{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
} */

.content-menu{
    width: 700px;
    height: 400px;
    margin-left: 10%;
    margin-top: 8%;
    color: white;
    position: relative;

    z-index: 999;
}

.content-menu .text p{
    font-family: 'Georama', sans-serif;
    font-size: 40px;
    text-align: left;
    z-index: 9;
}

.content-menu .multi-button{
    width: 320px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-menu .multi-button button{
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    background: none;
    border: solid 2px orange;
    border-radius: 30px;
}
#button1{
    background-color: orange;
    color: white;
}
#button2{
    color: orange;
}

.opacity-menu{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    position: absolute;
    z-index: 2;
}

.max-width .title{
    font-family: 'Georama', sans-serif;
    font-size: 40px;
    text-align: center;
}

.max-width .orange-bar{
    width: 100px;
    height: 2px;
    background-color: orange;
    margin-top: 30px;
}

.home-content .max-width{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content .max-width .about{
    margin-top: 30px;
}

.max-width .about p {
    font-family: 'Georama', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.home-content .max-width .content-boxes{
    margin: 0 auto;
    margin-top: 30px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-boxes .content-box{
    width: 250px;
    height: fit-content;
}

.content-boxes .content-box i{
    color: orange;
    font-size: 50px;
    line-height: 70px;
}

.content-boxes .content-box p{
    font-family: 'Georama', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    text-align: justify;
}

.content-boxes .content-box .title{
    font-size: 20px;
    text-align: left;
    line-height: 40px;
}

.home-banner{
    width: 100%;
    margin-top: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.home-banner .banner-image{
    width: 200px;
    height: 200px;
    z-index: 1;
}

.home-banner .banner-image img{
    width: 100%;
    height: 200px;
    border: none;
    display: flex;
    flex-direction: row;
    z-index: 1;
    
}

.content-guidance{
    width: 100%;
    height: 700px;
    background-color: rgb(240, 240, 240);
}

.content-guidance .guidance{
    width: 800px;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-guidance .guidance img{
    width: 200px;
    height: 410px;
}

.content-guidance .max-width{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guidance .steps{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.steps .step{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.steps .step i{
    font-size: 50px;
    color: orange;
}

.steps .step p{
    font-family: 'Georama', sans-serif;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.steps .download img{
    width: 160px;
    height: 50px;
}

.footer{
    background-color: black;
    width: 100%;
}

.footer .max-width{
    display: flex;
    flex-direction: column;
}

.footer .max-width .info-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-top .menu {
    width: 40%;
}

.info-top .menu a {
    font-family: 'Georama', sans-serif;
    font-size: 20px;
    color: rgb(179, 177, 177);
    font-weight: 400;
}

.footer .max-width .icon-contact {
    color: rgb(179, 177, 177);
    width: 15%;
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}
  

.ha{
    font-size: larger;
}


.ab {
    border: 10px solid rgba(0, 13, 71, 0.829);
    width: 800px;
    margin: auto;
  }
  .clgt {
    width: 780px;
    height: 550px;
  }
  .bo:hover {
    background-color: cornflowerblue;
  }
  .kobe {
    border: 10px solid rgba(0, 13, 71, 0.829);
    width: 500px;
    height: 700px;
  }
  .kobe2 {
    width: 480px;
    height: 400px;
  }
  .bo:ha {
    background-color: cornflowerblue;
  }

.cho:hover {
  background-color: darkgray;
}

.ac {
  border: 10px solid rgba(0, 13, 71, 0.829);
  width: 500px;
}
.buoi {
  width: 480px;
  height: 400px;
}
.cac:hover {
  background-color: cornflowerblue;
}
.du:hover {
  background-color: darkgray;
}

.ad {
  border: 10px solid rgba(0, 13, 71, 0.829);
  width: 251px;
}
.sv {
  width: 230px;
  height: 400px;
}
.abc:hover {
  background-color: cornflowerblue;
}
.cut:hover {
  background-color: darkgray;
}

.ae {
  border: 10px solid rgba(0, 13, 71, 0.829);
  width: 251px;
}
.an {
  width: 230px;
  height: 400px;
}
.te:hover {
  background-color: cornflowerblue;
}
.to:hover {
  background-color: darkgray;
}

#anhlogo {
  height: 150px;

  width: auto;
  margin: 30px;
  border-radius: 50px;

}
.upper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.link{
    margin-bottom: 0;
    color: white;
}