*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 50px;
    margin: auto;
}
nav{
    margin-left: 10%;
}
nav .max-width{
    display: flex;
    justify-content: space-around;
}
nav .link-menu a{
    position: relative;
    display: inline-block;
    padding: 0 30px;
    color: white;
    letter-spacing: -0.5px;
    text-decoration: none;
}

body{
    background-image: url("./brg.jpg");
    background-size: 170%;
    color: rgb(255, 255, 255);
}

.max-width .logo{
    z-index: 9;
}

.max-width .logo img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.max-width .link-menu{
    width: 800px;
    line-height: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.max-width .link-menu a{
    color: white;
    font-family: 'Commissioner', sans-serif;
    font-size: 22px;

    z-index: 4;
}

.home-menu{
    background-image: url("./brnd.jpg");
    height: 700px;
    background-size: cover;

    position: relative;
    z-index: 1;
}